body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}

.main{
  width: 320px;
  height: 420px;
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.main input{
    width: 100%;
    margin-bottom: 20px;
}

.main label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.main input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 2px solid #f00;
    background: transparent;
    outline: none;
    height: 50px;
    color: red;
    font-size: 15px;
}

.main input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
}

.main input[type="submit"]:hover
{
    cursor: pointer;
    background: yellow;
    color: #000;
}

.main a{
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    color: red;
}

.main a:hover
{
    color: green;
}
